* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family:'Red Hat Display', sans-serif;
}
.attribution{
    font-size: 11px;
    margin-top: 50px;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}
.main-cont{
    background-color: #E0E8FF;
    height: 800px;
}
.svg-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/pattern-background-desktop.svg);
    height: 437px;
}
.card{
    width: 450px;
    margin-top: 300px;
    background-color: white;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.card img{
    border-radius: 30px 30px 0px 0px;
}
.main h2{
    font-weight:900;
    font-family:'Red Hat Display', sans-serif;
    text-align: center;
    margin: 20px;
}
.main h5{
    font-size: 16px;
    color: gray;
    text-align: center;
    margin: 25px 45px;
    font-family:'Red Hat Display', sans-serif;
}
.price{
    width: 350px;
    background-color: #F8F9FE;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
}
.price img{
    position: absolute;
    top: 50%;
    margin-top: -24px;
}
.price h5{
    right: 50%;
    color: black;
    margin-top: -10px;
    margin-left: 0px;
    font-family:'Red Hat Display', sans-serif;
}
.price p{
    color: gray;
    margin-left: 78px;
    margin-top: -20px;
    font-weight: bold;
    font-family:'Red Hat Display', sans-serif;
}
.price a{
    margin-right: 37px;
    position: absolute;
    top: 50%;
    right: -1px; 
    font-weight: bold;   
    font-family:'Red Hat Display', sans-serif;
}

.button1{
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
    color: white;
    font-family:'Red Hat Display', sans-serif;
    width: 350px;
    padding: 10px;
    background-color: hsl(245, 75%, 52%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0px 8px 10px hsl(245, 46%, 56%);
}
.button2{
    margin: 30px auto;
    color: gray;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}