* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family:'Red Hat Display', sans-serif;
}
.attribution{
    font-size: 11px;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}
.main-cont{
    background-color: #E0E8FF;
}
.svg-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/pattern-background-desktop.svg);
  height: 437px;
}
.card{
    width: 450px;

}
.card img{
    
    margin-right: -225px;
    border-radius: 30px 30px 0px 0px;
}